@import 'tailwindcss';

:root {
  --background: #0b0d10;
}

body {
  background: var(--background);
  overflow-x: hidden;
}

@utility hover-animation {
  @apply cursor-pointer opacity-75 transition-opacity duration-100 hover:opacity-100;
}

@theme {
  /* Typography */
  --font-bebas-neue: 'Bebas Neue', sans-serif;
  --font-merriweather-sans: 'Merriweather Sans', sans-serif;
  /* Colors */
  --color-brand: #ffb000;
  --color-brand-accent: #ffcc33;
  --color-background: #0b0d10;
  --color-text-primary: #ffffff;
  --color-text-muted: #b6bccb;
  --color-divider: #242a38;
  --color-orange-burst: #ae4512;
  --color-berry-frost: #052a3a;
  --color-lemon-lime: #019707;
}
