@import 'tailwindcss';

:root {
  --background: #5806b7ef;
}

body {
  background: var(--background);
}

@utility hover-animation {
  @apply cursor-pointer opacity-75 transition-opacity duration-100 hover:opacity-100;
}

@theme {
  --font-bebas-neue: 'Bebas Neue', sans-serif;
  --font-merriweather-sans: 'Merriweather Sans', sans-serif;
}
